<div class="activity">
    <div class="left_date {{#if add_now}}now{{/if}}">
    <div class="time_wrap">
        <p class="noon">{{Noon}}</p>
        <p class="time">{{time}}</p>
    </div>
        <p class="year">{{year}}</p>
        <p class="month">{{month}}</p>
        <P class="date">{{date}}</P>
        <p class="status {{s_class}}">{{status}}</p>
    </div>
    <a class="right_banner" href="{{h5url}}">
        <div class="banner_box"
             style="background-image: url('{{cover}}')">
        </div>
        <div class="title">
            <div class="title_pic"><img src="{{spacelogo}}" alt=""/></div>
            <div class="title_text">{{title}}</div>
        </div>
    </a>
</div>